<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emmet Charm</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <header>
          <h3 class="title-desktop">Emmet Charm</h3>
          <ul>
            <li>
              <a target="_blank" href="https://onlyfans.com/emmetcharm?ref=3007"
                >Only fans</a
              >
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/emmetcharm/"
                >Instagram</a
              >
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/emmetcharmof"
                >Twitter</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/profile.php?id=100088442719819&mibextid=LQQJ4d"
                >Facebook</a
              >
            </li>
            <li>
              <a target="_blank" href="https://www.tiktok.com/@emmetcharm7"
                >Tik Tok</a
              >
            </li>
            <li>
              <a target="_blank" href="https://www.snapchat.com/add/emmetcharm"
                >Snapchat</a
              >
            </li>
          </ul>
        </header>
        <h4>SGIN UP FOR MY CALENDAR</h4>
        <h1>with 12 exclusive pictures never seen</h1>
        <p>
          on social media so I can accompany you <br />
          through the year!
        </p>
        <div>
          <form id="form" action="/thank-you" method="POST">
            <label hidden for="email"></label>
            <input placeholder="insert your e-mail" name="email" type="text" required />
            <button id="button" type="submit">SEND</button>
          </form>
        </div>
      </div>
      <div class="right">
        <img class="desktop" src="./img/emmet_desktop.png" alt="Emmet Charm" />
        <h3 class="title-mobile">Emmet Charm</h3>

        <img class="mobile" src="./img/emmet_mobile.png" alt="Emmet Charm" />
       
      </div>
    </div>
    <div class="ribbon-desktop-1">
        <p class="cnnContents">
       <span class="marqueeStyle">&nbsp;fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁ fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁  fully free  ⦁   </span>
 <!-- duplicate above, change style to allow continous scroll -->
      </p>
    </div>
  </body>
</html>
